 <footer th:fragment="site-footer" class="bg-light text-dark py-3 mt-5 border-top">
    <div class="container text-center">
        <p class="mb-1">© 2025 peter97tokyo. All rights reserved.</p>
        <a href="https://www.thymeleaf.org/" target="_blank" class="text-dark text-decoration-none mx-2">Thymeleaf</a> |
        <a href="https://spring.io/projects/spring-boot" target="_blank" class="text-dark text-decoration-none mx-2">Spring Boot</a> |
        <a href="https://developers.google.com/chart" target="_blank" class="text-dark text-decoration-none mx-2">Google Charts</a>
    </div>
</footer>