.calender-field {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.year-container {
    width: 80%;
    position: relative;
}

.year-field {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin: 0;
}

.month-field {
    font-size: 90px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.blank-calender-field {
    width: 80%;
}

.previous-field {
    width: 20%;
}

.next-field {
    width: 20%;
}

.font-weight-bold {
    font-weight: bold;
}

.week-field {
    width: 14.2%;
    text-align: center;
    
}

.date-field {
    height: 150px;
}

.today-line{
    font-weight: bold;
    color: #dc3545;
}

.account-book-parent{
    height: 100%;
}

.account-book-field {
    width: 100%;
    height: 70%;
}

.a-tag-none {
    color: black;
    text-decoration-line: none;
}

.popup-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.6);
    z-index: 999;
}

.popup-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-form {
    display: none;
}

.btn-height-hundred {
    height: 100%; /* 나중에 클래스명 바꾸기 */
}

.not-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-right {
    text-align : end;
}

.in-out-table {
    margin-left: 10px;
    height: 100%;
}

.content-sidebar {
    
    height: 100%;
    width: 0;                /* 처음에는 숨김 */
    position: fixed;
    right: 0;
    top: 0;
    background: #f9f9f9;
    overflow-x: hidden;
    transition: 0.5s;        /* 슬라이드 효과 */
    z-index: 10;
    padding-top: 60px;       /* 닫기 버튼과 간격 */
}

.content-sidebar.open {
    width: 30%;              /* 열릴 때 넓이 */
}

.content-sidebar .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.wallet-history {
    margin: 10px;
}

.delete-btn {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}