<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNT BOOK LIST</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/account-book.css">
    
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/account-book.js"></script>
</head>
<body>
    <main class="container">
        <section class="d-flex justify-content-between link-field">
            <a href="/" class="decoration-none link-dark">HOME 🏠</a>
            <div>
                <a href="/accountBook/calendar" class="decoration-none link-dark">CALENDAR 🗓️</a>
                <a class="decoration-none link-dark">GRAPH 📈</a>
            </div>
        </section>
    
     
    </main>
</body>
</html>