<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNT BOOK</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container  bg-primary">

        <h1>ACCOUNT BOOK</h1>
        <a href="/accountBook"><h1>Go to account book</h1></a>
      </div>
</body>
</html>