<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNT BOOK</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1 class="main-title">💸 Account Book Diary</h1>
    <p class="sub-title">A personal diary to reflect on your day by recording expenses</p>

    <a href="/wallet/calendar" class="btn start-button">Start Account Book</a>

    <div class="footer">
        Was today a precious day for you too? 🌿
    </div>
</body>
</html>