<div th:each="wallet : ${list}">
    <div th:if="${wallet.depositWithdrawal}" class="alert alert-success">
        <span class="d-flex justify-content-between">
            
            <a href="javascript:void(0)"
                class="text-decoration-none link-primary" 
                th:onclick="|popupWalletUpdtFrm(${wallet.id} )|">EDIT</a>

            <a href="javascript:void(0)" 
                class="text-decoration-none link-danger" 
                th:onclick="|deleteWallet(${wallet.id} )|">DELETE</a>
        </span>
        <span class="d-flex justify-content-between">
            <span th:text="${#numbers.formatDecimal(wallet.money, 0, 'COMMA', 0, 'POINT')}"></span>
            <span th:text="${#temporals.format(wallet.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </span>
        <hr>
            <span th:if="${wallet.type == 'rent'}" >Monthly rent 🏠</span>
            <span th:if="${wallet.type == 'util'}" >Utilities 💄</span>
            <span th:if="${wallet.type == 'food'}" >Food cost 🍖</span>
            <span th:if="${wallet.type == 'goods'}" >Sundry goods 🧩</span>
            <span th:if="${wallet.type == 'gift'}" >Gift 🎁</span>
            <span th:if="${wallet.type == 'in'}" >deposit 💵</span>
            <span th:if="${wallet.type == 'etc'}" >Etc 📦</span>
        <br>
            <span th:text="${wallet.memo}"></span>
      
    </div>
    <div th:if="${!wallet.depositWithdrawal}" class="alert alert-danger">
        <span class="d-flex justify-content-between">
            <a href="javascript:void(0)"
            class="text-decoration-none link-primary" 
            th:onclick="|popupWalletUpdtFrm(${wallet.id} )|">EDIT</a>

            <a href="javascript:void(0)" 
            class="text-decoration-none link-danger" 
            th:onclick="|deleteWallet(${wallet.id} )|">DELETE</a>
        </span>
        <span class="d-flex justify-content-between">
            <span th:text="${#numbers.formatDecimal(wallet.money, 0, 'COMMA', 0, 'POINT')}"></span>
            <span th:text="${#temporals.format(wallet.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </span>
        <hr>
            <span th:if="${wallet.type == 'rent'}" >Monthly rent 🏠</span>
            <span th:if="${wallet.type == 'util'}" >Utilities 💄</span>
            <span th:if="${wallet.type == 'food'}" >Food cost 🍖</span>
            <span th:if="${wallet.type == 'goods'}" >Sundry goods 🧩</span>
            <span th:if="${wallet.type == 'gift'}" >Gift 🎁</span>
            <span th:if="${wallet.type == 'in'}" >deposit 💵</span>
            <span th:if="${wallet.type == 'etc'}" >Etc 📦</span>
        <br>
            <span th:text="${wallet.memo}"></span>
    </div>
    
</div>
