<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNT BOOK CALENDAR</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/account-book.css">
    
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/account-book.js"></script>
</head>
<body>
    <div th:insert="fragment/header :: site-header"></div>

    <main class="container">

        <section class="calendar-field">
            <div class="d-flex justify-content-start previous-field">
                <form action="/wallet/calendar" method="post" class="box-inline">
                    <input type="hidden" name="year" th:value="${month == 1 ? year - 1 : year}" />
                    <input type="hidden" name="month" th:value="${month == 1 ? 12 : month - 1}" />
                    <button type="submit" class="btn btn-dark font-weight-bold btn-height-hundred">&lt;&lt;</button>
                </form>
            </div>
            <div class="year-container">
                <div th:text="${year}" class="year-field">year</div>
            </div>
            <div class="month-container">
                <div th:text="${month}" class="month-field">month</div>
            </div>
            <div class="blank-calendar-field">
                <table class="in-out-table">
                    <tr>
                        <th>In</th>
                        <th th:text="${#numbers.formatDecimal((totalDeposit?:0), 0, 'COMMA', 0, 'POINT')}" class="text-right ">1000</th>
                    </tr>
                    <tr>
                        <th>Out</th>
                        <th th:text="${#numbers.formatDecimal((totalWithdrawal?:0), 0, 'COMMA', 0, 'POINT')}" class="text-right ">1000</th>
                    </tr>
                    <tr>
                        <th>Left</th>
                        <th th:text="${#numbers.formatDecimal((totalDeposit?:0) - (totalWithdrawal?:0), 0, 'COMMA', 0, 'POINT')}" class="text-right">1000</th>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-end next-field">
                <form action="/wallet/calendar" method="post" class="box-inline">
                    <input type="hidden" name="year" th:value="${month == 12 ? year + 1 : year}" />
                    <input type="hidden" name="month" th:value="${month == 12 ? 1 : month + 1}" />
                    <button type="submit" class="btn btn-dark font-weight-bold btn-height-hundred">&gt;&gt;</button>
                </form>
            </div>
        </section>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th class="bg-danger text-white week-field">SUN</th>
                <th class="bg-dark text-white week-field">MON</th>
                <th class="bg-dark text-white week-field">TUE</th>
                <th class="bg-dark text-white week-field">WED</th>
                <th class="bg-dark text-white week-field">THE</th>
                <th class="bg-dark text-white week-field">PRI</th>
                <th class="bg-primary text-white week-field">SAT</th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="week : ${weeks}">
                    <td th:each="days : ${week}" class="justify-content-end date-field">
                        <div th:if="${day != null && day == days}" class="account-book-parent">
                            <div th:text="${days }" class="today-line">days</div>
                            <div class="account-book-field" >
                                <div th:if="${dailyDeposit[days] != null}"
                                    th:text="${#numbers.formatDecimal(dailyDeposit[days], 0, 'COMMA', 0, 'POINT')} + ' 💵' "
                                    class="alert alert-success not-padding-top-bottom text-right">
                                </div>

                                <div th:if="${dailyWithdrawal[days] != null}"
                                    th:text="${#numbers.formatDecimal(dailyWithdrawal[days], 0, 'COMMA', 0, 'POINT')} + ' 💸' "
                                    class="alert alert-danger not-padding-top-bottom text-right">
                                </div>
                            </div>
                            <a href="#" class="d-flex justify-content-end font-weight-bold a-tag-none" th:onclick="popupWallet([[${year}]], [[${month}]], [[${days}]] );">+</a>
                        </div>
                        <div th:unless="${day == days}" class="account-book-parent">
                            <div th:if="${days != null}" th:text="${days }">days</div>
                            <div th:if="${days != null}" class="account-book-field">
                                <div th:if="${dailyDeposit[days] != null}"
                                    th:text="${#numbers.formatDecimal(dailyDeposit[days], 0, 'COMMA', 0, 'POINT')} + ' 💵' "
                                    th:onclick="openSidebar([[${year}]], [[${month}]], [[${days}]] );"
                                    class="alert alert-success not-padding-top-bottom text-right">
                                </div>
                                <div th:if="${dailyWithdrawal[days] != null}"
                                    th:text="${#numbers.formatDecimal(dailyWithdrawal[days], 0, 'COMMA', 0, 'POINT')} + ' 💸' "
                                    th:onclick="openSidebar([[${year}]], [[${month}]], [[${days}]] );"
                                    class="alert alert-danger not-padding-top-bottom text-right">
                                </div>
                            </div>
                            <a href="#" th:if="${days != null}" class="d-flex justify-content-end font-weight-bold a-tag-none" th:onclick="popupWallet([[${year}]], [[${month}]], [[${days}]] );">+</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <section id="popupForm" class="popup-form">
            <form action="./wallet" method="post" id="walletForm">
                <div class="popup-bg">
                    <div class="popup-wrap card">
                        <div class="card-body">
                            <p class="d-flex justify-content-center">
                                <b>
                                    WALLET
                                </b>
                            </p>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Date</span>
                                <input type="date" id="choosedDate" name="choosedDate" class="form-control" readonly>
                            </div>                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">deposit/withdrawal</span>
                                <select class="form-select" name="depositWithdrawal">
                                    <option value="false">withdrawal 💸</option>
                                    <option value="true">deposit 💵</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Type</span>
                                <select class="form-select" name="type">
                                    <option value="rent">Monthly rent 🏠</option>
                                    <option value="util">Utilities 💄</option>
                                    <option value="food">Food cost 🍖</option>
                                    <option value="goods">Sundry goods 🧩</option>
                                    <option value="gift">Gift 🎁</option>
                                    <option value="in">deposit 💵</option>
                                    <option value="etc">Etc 📦</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Money</span>
                                <input type="number" class="form-control" name="money">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Memo</span>
                                <input type="text" class="form-control" name="memo">
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-dark" >OK</button>
                                <button type="button" class="btn btn-dark" onclick="popupWallet(0,0,0)">NO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section id="contentSidebar" class="content-sidebar">
            <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">×</a>
            <div id="walletHistory" class="wallet-history"></div>
        </section>

        <section id="popupUpdtForm" class="popup-updt-form">
            
        </section>

        

    </main>
    <div th:insert="fragment/footer :: site-footer"></div>

</body>
</html>